@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <MudDrawer @bind-Open="@drawerOpen" Variant="DrawerVariant.Mini" ClipMode="DrawerClipMode.Never" Fixed="@true">
        <MudNavMenu>
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Campaigns</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <div class="content px-4">
        @Body
    </div>
</div>

@code 
{
    bool drawerOpen = false;

    void DrawerToggle()
    {
        drawerOpen = !drawerOpen;
    }
}